@model CreateOrUpdateDistrictModel

<!-- BEGIN FORM-->
@using (Html.BeginForm("Create", "Districts", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" } )) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor( m => m.DistrictId )
    <div class="form-body">
        @*<h3 class="form-section">Advance validation. <small>Custom radio buttons, checkboxes and Select2 dropdowns</small></h3>*@
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            You have some form errors. Please check below.
        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button>
            Your form validation is successful!
        </div>
        @using (Html.BeginPanelFor( m => m.ParentId, new { @class = "form-group" } )) {
            @Html.LabelFor( m => m.ParentId, new { @class = "control-label col-md-3" } )
            <div class="col-md-4">
                @Html.DropDownListFor( m => m.ParentId, ViewBag.Districts as SelectList, "请选择", new Dictionary<string, object>().AddWithChain( "class", "form-control select2me" ).AddWithChain( "disabled", Model.DistrictId > 0 ? "disabled" : null ) )
                @Html.ValidationMessageFor( m => m.ParentId )
            </div>
        }
        @using (Html.BeginPanelFor( m => m.Name, new { @class = "form-group" } )) {
            @Html.LabelFor( m => m.Name, new { @class = "control-label col-md-3" } )
            <div class="col-md-4">
                @Html.TextBoxFor( m => m.Name, new { @class = "form-control" } )
                @Html.ValidationMessageFor( m => m.Name )
            </div>
        }
        @using (Html.BeginPanelFor( m => m.Description, new { @class = "form-group" } )) {
            @Html.LabelFor( m => m.Description, new { @class = "control-label col-md-3" } )
            <div class="col-md-4">
                @Html.TextAreaFor( m => m.Description, new { @class = "form-control", rows = "6" } )
                @Html.ValidationMessageFor( m => m.Description )
            </div>
        }
        @using (Html.BeginPanelFor( m => m.Lng, new { @class = "form-group" } )) {
            @Html.LabelFor( m => m.Lng, new { @class = "control-label col-md-3" } )
            <div class="col-md-4">
                @Html.TextBoxFor( m => m.Lng, new { @class = "form-control" } )
                @Html.ValidationMessageFor( m => m.Lng )
            </div>
        }
        @using (Html.BeginPanelFor( m => m.Lat, new { @class = "form-group" } )) {
            @Html.LabelFor( m => m.Lat, new { @class = "control-label col-md-3" } )
            <div class="col-md-4">
                @Html.TextBoxFor( m => m.Lat, new { @class = "form-control" } )
                @Html.ValidationMessageFor( m => m.Lat )
            </div>
        }
        @using (Html.BeginPanelFor( m => m.TimeZone, new { @class = "form-group" } )) {
            @Html.LabelFor( m => m.TimeZone, new { @class = "control-label col-md-3" } )
            <div class="col-md-4">
                @Html.TextBoxFor( m => m.TimeZone, new { @class = "form-control" } )
                @Html.ValidationMessageFor( m => m.TimeZone )
            </div>
        }
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green">保存</button>
                @Html.ActionLink("取消", "Index", null, new { @class = "btn default" } )
            </div>
        </div>
    </div>
}
<!-- END FORM-->