@model Opp.TemplateEngine.Field

<div class="form-group">
    <label class="control-label" for="@(Model.Name)_Company">Place Name</label>
    <input type="text" class="form-control" id="@(Model.Name)_Company" name="MV1_@(Model.Name)_Company" value="@(Model.Values.ContainsKey("Company") ? Model.Values["Company"] : "")" />
</div>
<div class="form-group">
    <label class="control-label" for="@(Model.Name)_Telephone">Phone Number</label>
    <input type="text" class="form-control" id="@(Model.Name)_Telephone" name="MV1_@(Model.Name)_Telephone" value="@(Model.Values.ContainsKey( "Telephone" ) ? Model.Values["Telephone"] : "")" />
</div>
<div class="form-group">
    <label class="control-label" for="@(Model.Name)_Address">Address</label>
    <input type="text" class="form-control" id="@(Model.Name)_Address" name="MV1_@(Model.Name)_Address" value="@(Model.Values.ContainsKey( "Address" ) ? Model.Values["Address"] : "")" />
</div>
<div class="form-group" id="map-container">
	
</div>
<div class="form-group">
    <input type="text" class="form-control" id="@(Model.Name)_Coordinates" name="MV1_@(Model.Name)_Coordinates" value="@(Model.Values.ContainsKey( "Coordinates" ) ? Model.Values["Coordinates"] : "")" />
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Admin/map2.js")"></script>
<script type="text/javascript">
	function renderMap() {
        var map = new Map("map-container", $('#@(Model.Name)_Coordinates').val(), function(err, coordinates) {
            $("#@(Model.Name)_Coordinates").val(coordinates);
        });
        map.render();
	}
	// 异步加载地图
	(function () {
        if (window.google) {
            renderMap();
            return;
        }

        /* 加载地图API */
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=renderMap";
        document.head.appendChild(script);
    })();
</script>