@model List<DistrictVO>
@using Maya.Services.VO
@{
    ViewBag.Title = "国家城市列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderTitle = "国家城市列表 <small>dashboard & statistics</small>";
}

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>国家城市列表
				</div>
				@*<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>*@
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
                                <a href="@Url.Action("Create")" class="btn green">新增记录<i class="fa fa-plus"></i></a>
							</div>
						</div>
						@*<div class="col-md-6">
							<div class="btn-group pull-right">
							<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
								<li><a href="#">Print </a></li>
								<li><a href="#">Save as PDF </a></li>
								<li><a href="#">Export to Excel </a></li>
							</ul>
							</div>
						</div>*@
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover" id="sample_1">
				<thead>
				<tr>
					<th>#</th>
					<th>名称</th>
					<th>纬度</th>
					<th>经度</th>
					<th>更新时间</th>
					<th>修改</th>
                    <th>删除</th>
				</tr>
				</thead>
				<tbody>
                @foreach (DistrictVO item in Model) {
                    <tr class="odd gradeX">
                        <td>
                            @item.DistrictId
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Lng
                        </td>
                        <td>
                            @item.Lat
                        </td>
                        <td class="center">
                            @item.UpdatedDate.ToString( "yyyy-MM-dd HH:mm:ss" )
                        </td>
                        <td>
                            @Html.ActionLink( "修改", "Create", new { controller = "Districts", id = item.DistrictId } )
                        </td>
                        <td>
                            @Html.DeleteLink( Url.Content( "~/Content/img/remove-icon-small.png" ), "Delete", new { id = item.DistrictId }, new { title = "删除记录", onclick = "return confirm('确定要删除此记录吗？');" } )
                        </td>
                    </tr>
                }
				</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT-->
@section BreadCrumb {
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Data Tables</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Responsive Datatables</a>
        </li>
    </ul>
}
@section HeaderStyles {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/plugins/select2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="~/Scripts/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
    <!-- END PAGE LEVEL STYLES -->
}
@section FooterScripts {
    <script type="text/javascript" src="~/Scripts/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/admin/pages/table-managed.js"></script>
    <script>
        jQuery(function ($) {
            //TableManaged.init();
        });
    </script>
}
