<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                <form class="sidebar-search " action="extra_search.html" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li @Html.ActiveCss( "Dashboard", null, "active open" )>
                @Html.SideBarLink( "控制面板", "icon-home", "Dashboard", false )
            </li>
            <li @Html.ActiveCss( "Users", null, "active open" )>
                @Html.SideBarLink( "用户管理", "icon-users", "Users" )
                <ul class="sub-menu">
                    <li @Html.ActiveCss( "Users", "Index" )>
                        @Html.ActionLink( "用户列表", "Index", "Users" )
                    </li>
                    <li @Html.ActiveCss( "Users", "Create" )>
                        @Html.ActionLink( "新增用户", "Create", "Users" )
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Districts", null, "active open" )>
                @Html.SideBarLink( "国家城市", "icon-pointer", "Districts" )
                <ul class="sub-menu">
                    <li @Html.ActiveCss( "Districts", "Index" )>
                        @Html.ActionLink( "数据列表", "Index", "Districts" )
                    </li>
                    <li @Html.ActiveCss( "Districts", "Create" )>
                        @Html.ActionLink( "新增数据", "Create", "Districts" )
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Products", null, "active open" )>
                @Html.SideBarLink( "产品专题", "icon-handbag", "Products" )
                <ul class="sub-menu">
                    <li @Html.ActiveCss( "Products", "Index" )>
                        @Html.ActionLink( "产品列表", "Index", "Products" )
                    </li>
                    <li @Html.ActiveCss( "Products", "Edit" )>
                        @Html.ActionLink( "新增产品", "Edit", "Products" )
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Musics", null, "active open" )>
                @Html.SideBarLink( "旅游音乐", "icon-music-tone-alt", "Musics" )
                <ul class="sub-menu">
                    <li @Html.ActiveCss( "Products", "Index" )>
                        @Html.ActionLink( "音乐列表", "Index", "Products" )
                    </li>
                    <li @Html.ActiveCss( "Products", "Edit" )>
                        @Html.ActionLink( "新增音乐", "Edit", "Products" )
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Articles", null, "active open" )>
                @Html.SideBarLink( "电流电压", "icon-energy", "Articles" )
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Articles", null, "active open" )>
                @Html.SideBarLink( "插座标准", "icon-bulb", "Articles" )
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Articles", null, "active open" )>
                @Html.SideBarLink( "全球通使用方法", "icon-globe", "Articles" )
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Articles", null, "active open" )>
                @Html.SideBarLink( "大使馆资料", "icon-flag", "Articles" )
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Articles", null, "active open" )>
                @Html.SideBarLink( "紧急电话", "icon-call-end", "Articles" )
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Articles", null, "active open" )>
                @Html.SideBarLink( "机场名称", "icon-plane", "Articles" )
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li @Html.ActiveCss( "Articles", null, "active open" )>
                @Html.SideBarLink( "出入境卡填写", "icon-note", "Articles" )
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
